.sidebar-nav-items .icon{
  padding-right: 0;
}

.sidebar-container,.container,.sidebar{
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.navbar{
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.overlay.main{
  backdrop-filter: blur(16px);
}
.armorial{
  margin: 0;
  padding: 4px;
  border: solid;
  border-radius: 20px;
  background: transparent;
}

.armorial.active{
  border-color: #26FF00;
  background: #00FF6E45;
}